<p>Please sign in with your email and password</p>

<%= simple_form_for(@citizen, url: signin_path) do |f| %>
    <%=  f.input :email %>
    <%=  f.input :password %>

    <%= f.submit 'Signin', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Sign up now', register_path, class: "btn btn-secondary my-3" %>
  